<h1>------------------------------------------------------------------------------------</h1>
<h1>SPORT ORM II</h1>
<h1>------------------------------------------------------------------------------------</h1>


<h1>1. Find all teams in the Atlantic Soccer Conference</h1>

<ol>
	{% for league in orm21 %}
		<li>{{league.team_name}}</li>
	{% endfor %}
</ol>

<h1>2. Find all (current) players on the Boston Penguins</h1>

<ol>
	{% for player in orm22 %}
		<li>{{player.first_name}} {{player.last_name}}</li>
	{% endfor %}
</ol>


<h1>3. Find all (current) players in the International Collegiate Baseball Conference</h1>

<ol>
	{% for player in orm23 %}
		<li>{{player.first_name}} {{player.last_name}}</li>
	{% endfor %}
</ol>


<h1>4. Find all (current) players in the American Conference of Amateur Football with last name "Lopez" </h1>

<ol>
	{% for player in orm24 %}
		<li>{{player.first_name}} {{player.last_name}}</li>
	{% endfor %}
</ol>


<h1>5. Find all football players</h1>

<ol>
	{% for player in orm25 %}
		<li>{{player.first_name}} {{player.last_name}}</li>
	{% endfor %}
</ol>


<h1>6. Find all teams with a (current) player named "Sophia"</h1>

<ol>
	{% for team in orm26 %}
		<li>{{team.team_name}}</li>
	{% endfor %}
</ol>



<h1>7. Find all leagues with a (current) player named "Sophia"</h1>

<ol>
	{% for league in orm27 %}
		<li>{{league.name}}</li>
	{% endfor %}
</ol>

<h1>8. Find everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</h1>

<ol>
	{% for player in orm28 %}
		<li>{{player.first_name}} {{player.last_name}}</li>
	{% endfor %}
</ol>

<h1>9. Find all teams, past and present, that Samuel Evans has played with</h1>

<ol>
	{% for team in orm29 %}
		<li>{{team.location}} {{team.team_name}}</li>
	{% endfor %}
</ol>

<h1>10. Find all players, past and present, with the Manitoba Tiger-Cats</h1>

<ol>
	{% for player in orm210 %}
		<li>{{player.first_name}} {{player.last_name}}</li>
	{% endfor %}
</ol>

<h1>11. Find all players who were formerly (but aren't currently) with the Wichita Vikings</h1>

<ol>
	{% for player in orm211 %}
		<li>{{player.first_name}} {{player.last_name}}</li>
	{% endfor %}
</ol>

<h1>12. Find every team that Jacob Gray played for before he joined the Oregon Colts</h1>

<ol>
	{% for team in orm212 %}
		<li>{{team.location}} {{team.team_name}}</li>
	{% endfor %}
</ol>

<h1>13. Find everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</h1>

<ol>
	{% for player in orm213 %}
		<li>{{player.first_name}} {{player.last_name}}</li>
	{% endfor %}
</ol>

<h1>14. Find all teams that have had 12 or more players, past and present.  (HINT: Look up the Django `annotate` function.)</h1>

<ol>
	{% for team in orm214 %}
		<li>{{team.location}} {{team.team_name}}</li>
	{% endfor %}
</ol>

<h1>15. Show all players, sorted by the number of teams they've played for</h1>


<ol>
	{% for player in orm215 %}
		<li>{{player.first_name}} {{player.last_name}}</li>
	{% endfor %}
</ol>










<h1>------------------------------------------------------------------------------------</h1>
		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>